

#data_path_main_div{
    display:inline-block;
    padding-top: 5px;
}

#generate_div {
    padding-right: 5px;
    display:inline-block;
}

#data_path_input{
    width: 300px;
}

#generate_button {
    color: white;
    background-color: black;
}


#add_row_button_div{
    display: inline-flex;
}

#user_table_div{
    width: 50%;
    padding-top:5px;
}

#add_row_button {
    color: white;
    background-color: rgb(2, 207, 12);  
}

#tree_structure{
    width: 60%;
}