
#main_dropdown_div {
    padding-bottom: 10px;
}

.dcc_dropdown {
    width: 300px;
}

#generate_div {
    padding-bottom: 10px;
}

#generate_button {
    color: white;
    background-color: black
}

#channel_slider {
    padding: 5px;
    width: 300px;
  }

